<div class="winners" data-refresh-list-auto-target="list">
   <% countries.each do |country| %>
    <div class="winner">
      <%= image_tag(country.image_url)%>
      <h2 class="winner-tag"> <%= country.name %> | <%= country.year %></h2>
      </div>
      <% end %>
  </div>
