<div class="container" data-controller="refresh-list-auto">
  <div class="searchBar row justify-content-center" >
    <%= form_with url: countries_path, method: :get, html: { class: 'mb-5', data: { refresh_list_auto_target: 'form' } } do |f| %>
    <%= f.text_field :query,
                     class: "form-control",
                     placeholder: 'Type a winner',
                     value: params[:query],
                     data: {
                      refresh_list_auto_target: 'searchInput',
                      action: "keyup->refresh-list-auto#update"
                    } %>
  <% end %>
  </div>
  <h3 class="mt-4"><%= pluralize(@countries.size, 'country') %>  available</h3>

    <%= render 'list', countries: @countries %>

</div>
